.container{
    width: 25%;
    float: left;
    height: 93%;
    text-align: center;
}
#DaD-header{
    text-align: center;
    color:gold;
}
body{
    height: 95vh;
    background-image: linear-gradient(to bottom, grey, white);
    background-repeat: no-repeat;
    background-size: cover;
}
.character-creation{
    padding: 5px;
}
#stats-form{
    display: flex;
    flex-direction: column;
}
.stat-input{
    padding:5px;
}
.weapon{
    width: 100%;
    display:flex;
    align-items: center;
}
#weapon-display{
    height: 95%;
    width: 100%;
    overflow: auto;
}
#weapon-zones{
    display:flex;
}
#zone-ratios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#ratio{
    margin-top: auto;
    margin-bottom: auto;
    width:60%;
}
#sweetspot-divider{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
    flex-direction: column;
}
.stat-input{
    display:flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}